<div class="single-post">
    <div class="post-header">
        <div>
            <a class="post-name">{{name}}</a>
        </div>
        <div class="post-info">
            <p id="post-info">
                Posted by <b>{{user.username}}</b>
            </p>
        </div>
    </div>
    <div class="post-content">
        <p>{{ingredients}}</p>
    </div>
</div>

