<div class="single-rcp">
    <div class="rcp-header">
        <div>
            <a class="rcp-name">{{name}}</a>
        </div>
        <div class="rcp-info">
            <p id="rcp-info">
                POSTED BY <b>{{user.username}}</b>
            </p>
        </div>
    </div>
    <div class="rcp-content">
        <p>{{ingredients}}</p>
    </div>
</div>

