<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap" rel="stylesheet">    

    <title>What's Cooking Good Looking?</title>

    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="row navbar tw">
                <a href="/" class="lead navkey">HOMEPAGE | </a>
                {{#if loggedIn}}
                <a href="/dashboard" class="lead navkey">DASHBOARD | </a>
                <a href="/" id="logout" class="lead navkey">LOGOUT</a>
                {{else}}
                <a href="/login" class="lead navkey">LOGIN</a>
                {{/if}}
        </header>

        {{#if loggedIn}}
        <div class="row overhead tw">
            <div class="lead title">
                <h1>What's Cooking Good Looking?</h1>
                <h4>A foodlover's recipe book...</h4>
            </div>
        </div>

        <main>
            {{{ body }}}
        </main>

        {{else}}
        <h1 class="animation">
            <span class="letter">W</span>
            <span class="letter">H</span>
            <span class="letter">A</span>
            <span class="letter">T</span>
            <span class="letter">'</span>
            <span class="letter">S</span>
            <span class="letter"><img src="/images/food1.png" width="110px;"></span>
            <br>
            <span class="letter">C</span>
            <span class="letter">O</span>
            <span class="letter">O</span>
            <span class="letter">K</span>
            <span class="letter">I</span>
            <span class="letter">N</span>
            <span class="letter">G</span>
            <span class="letter"><img src="/images/food2.png" width="120px;"></span>
            <br>
            <span class="letter">G</span>
            <span class="letter">O</span>
            <span class="letter">O</span>
            <span class="letter">D</span>
            <span class="letter"><img src="/images/food3.png" width="120px;"></span>
            <br>
            <span class="letter">L</span>
            <span class="letter">O</span>
            <span class="letter">O</span>
            <span class="letter">K</span>
            <span class="letter">I</span>
            <span class="letter">N</span>
            <span class="letter">G</span>
            <span class="letter"><img src="/images/food4.png" width="100px;"></span>
        </h1>

        <main>
            {{{ body }}}
        </main>

        {{/if}}



    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
    let animation = anime({
      targets: '.letter',
      opacity: 1,
      translateY: 50,
      rotate: {
        value: 360,
        duration: 2000,
        easing: 'easeInExpo'
      },
      scale: anime.stagger([0.7, 1], {
        from: 'center'
      }),
      delay: anime.stagger(100, {
        start: 1000
      }),
      translateX: [-10, 30]
    });
    </script>

    {{#if loggedIn}}
    <script src="/scripts/logout.js"></script>
    {{/if}}
</body>

</html>