<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="row navbar tw">
                <a href="/" class="lead navkey">HOMEPAGE | </a>
                {{#if loggedIn}}
                <a href="/dashboard" class="lead navkey">DASHBOARD | </a>
                <a href="/" id="logout" class="lead navkey">LOGOUT</a>
                {{else}}
                <a href="/login" class="lead navkey">LOGIN</a>
                {{/if}}
        </header>

        <div class="row overhead tw">
            <div class="lead title">
                <h1>What's Cooking Good Looking?</h1>
                <h4>A foodlover's recipe book...</h4>
            </div>
        </div>

        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/scripts/logout.js"></script>
    {{/if}}
</body>

</html>