:root {
  --bisque: #f1dabf;
  --bistre: #B5404D;
  --cinereous: #78D7F7;
  --snow: #2CA58D;
  --altysun: #FFA62B;
}

.tw {
  font-family: "Arima";
}

.letter {
  display: inline-block;
  opacity: 0;
  font-size: 180px;
}

body {
  background-color: var(--snow);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--bistre);
    color: var(--bisque);
    padding-left: 3%;
    padding-right: 3%;
}

.navkey {
  margin-left: 7px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navkey:link, .navkey:visited {
  color: var(--bisque);
}

.navkey:hover, .navkey:active {
  font-size: 24px;
  color: var(--bisque);
  text-shadow:0px 0px 20px var(--cinereous);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.overhead {
  background-color: var(--cinereous);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom: 10px;
}

.animation {
  justify-content: center;
  text-align: center;
}


.title {
  margin-top: 1%;
  font-size: large;
  margin-left: 3%;
  padding: 3px;
}

.login-section, .signup-section, .rcpform-section, .apircp-section {
  justify-content: center;
  text-align: center;
  width: 50%;
  background-color: var(--cinereous);
  margin: 0 auto;
  margin-top: 3%;
  padding: 1%;
}

input[type=text] {
  width: 40%;
  padding: 6px 10px;
  margin: 8px auto;
  box-sizing: border-box;
}

input[type=password] {
  width: 40%;
  padding: 6px 10px;
  margin: 8px auto;
  box-sizing: border-box;
}

.login-btn, .signup-btn, .new-rcp-btn, .post-btn, .addrcp-btn, .search-btn {
  background-color: var(--bistre);
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 3px;
}

.new-rcp-btn {
  max-height: 50px;
}

.login-btn:hover, .signup-btn:hover, .new-rcp-btn:hover, .post-btn:hover, .addrcp-btn:hover, .search-btn:hover {
  background-color: var(--bistre);
  box-shadow: 0 8px 16px 0 var(--cinereous);
  font-size: 24px;
}

.new-post-btn:hover {
  color: var(--bistre);
  background-color: var(--bisque);
}

.signupkey {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.signupkey:link, .signupkey:visited {
  color: var(--bistre);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.signupkey:hover, .signupkey:active {
  color: var(--bistre);
  text-shadow:0px 0px 10px var(--bistre);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.dashboard-main {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.dashboard-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 3px solid var(--bisque);
  /* min-height: 50%; */
}

.post-list {
  justify-content: center;
  text-align: center;
  width: 90%;
  background-color: var(--cinereous);
  margin: 0 auto;
  margin-top: 3%;
  padding: 1%;
  list-style: none;
  border-radius: 10px;
}

.single-post {
  margin: 0 auto;
  border: 3px solid var(--bistre);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 50%;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.post-header {
  background-color: var(--bistre);
  color: var(--bisque);
  padding: 3px;
}

.post-name {
  font-size: 18px;
  color: var(--bisque);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post-name:link, .post-name:visited {
  color: var(--bisque);
}

.post-name:hover, .post-name:active {
  font-size: 24px;
  text-shadow:0px 0px 10px var(--bisque);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.post-info {
  font-size: 21px;
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

.post-img {
  border-radius: 10px;
  border: 3px solid var(--bistre);
  width: 58%;
  margin: 0 auto;
  overflow: hidden;
}

.post-content {
  font-size: 18px;
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

.db-btn {
  border-bottom: 1px solid grey;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 1.5%;
}

.my-rcp-section {
  margin-top: 1.5%;
}

.nodisplay {
  display: none;
}


.single-rcp {
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  border: 3px solid var(--bistre);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 50%;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-rcp:hover {
  height: 150px;
  margin: 0 auto;
  border: 3px solid var(--bistre);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 70%;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rcp-header {
  background-color: var(--bistre);
  color: var(--bisque);
  padding: 3px;
}

.rcp-name {
  font-size: 18px;
  color: var(--bisque);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rcp-name:link, .rcp-name:visited {
  color: var(--bisque);
}

.rcp-name:hover, .rcp-name:active {
  font-size: 36px;
  text-shadow:0px 0px 10px var(--bisque);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: default;
}

.apircp-section {
  border-radius: 10px;
}

.api-search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}