<section class="row dashboard-main tw">
    <div class="dashboard-header col-8">
        <div class="row db-btn">
            <button type="submit" id="new-rcp-btn" class="new-rcp-btn">+ CREATE NEW RECIPE</button>
        </div> 
        <div class="row db-btn">
            <button type="submit" id="search-btn" class="new-rcp-btn">+ SEARCH RECIPE ONLINE</button>
        </div> 
    {{#if myrcps.length}}
        <section class="my-rcp-section">
            <h2>My Recipes</h2>
            <ul class="post-list">
            {{#each myrcps as |myrcp|}}
                <li>
                    {{> post-each myrcp}}
                </li>
            {{/each}}
            </ul>
        <br>
        <br>
        </section>
    {{/if}}
    </div>



</section>


<script src="/scripts/creatercp.js"></script>
<script src="/scripts/searchbtn.js"></script>