<section class="row dashboard-main">
    <div class="dashboard-header col-8">
        <button type="submit" id="new-rcp-btn" class="new-rcp-btn">+ CRATE NEW RECIPE</button>
    </div>
    <div class="dashboard-rcp col-4">
        <h1>RECIPES FROM THE API</h1>
    </div>
</section>







{{!-- {{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}} --}}

<script src="/scripts/creatercp.js"></script>