<section class="rcpform-section tw">

    <div>
        <h1 class="justify-center">Edit Your Recipe</h1>
    </div>

    <div class="container">
        <form class="rcp-form">
                <label for="add-name">Name:</label> <br>
                <input type="text" id="rcp-name" value="{{rcp.name}}" /> <br> <hr>
                <label for=""></label>

                <label for="add-ing">Ingredients:</label> <br>
                <textarea class="form-control" id="rcp-ing" rows="3">{{rcp.ingredients}}</textarea>
                
                <label for="add-ins">Instructions:</label> <br>
                <textarea class="form-control" id="rcp-ins" rows="3">{{rcp.instruction}}</textarea>

            <div>
                <button type="submit" class="addrcp-btn" id="update-rcp-btn">UPDATE</button>
                <br>
                <button class="addrcp-btn" id="rcp-delete-btn">DELETE</button>
            </div>
        </form>
    </div>

</section>


<script src="/scripts/save-edited-rcp.js"></script>
<script src="/scripts/deletercp.js"></script>