<!--ADD RECIPE FORM-->

<section>

    <div>
        <h1 class="justify-center">Add Recipe</h1>
    </div>

    <div class="container">
        <form class="add-recipe">
                <label for="add-name">Name:</label> <br>
                <input type="text" id="rec-name" /> <br> <hr>
                <label for=""></label>

                <label for="add-ingr">Ingredients:</label> <br>
                <textarea class="form-control" id="rec-ingr" rows="3"></textarea>
                
                <label for="add-instr">Instructions:</label> <br>
                <textarea class="form-control" id="rec-instr" rows="3"></textarea>

            <div>
                <button type="submit" class="add-btn">Add</button>
            </div>
        </form>
    </div>

</section>

<!--<script src="/scripts/addrecipe.js"></script>-->
