<div class="apircp-section">
    <div class="api-search">
        <form class="search">
            <input type="text" placeholder="Search.." class="search-form" id="search-form">
            <button type="submit" id="search-btn" class="search-btn"><i class="fa fa-search"></i></button>
        </form>  
    </div>
    
    {{#if olrcps.length}}
        <section class="olrcp-section">
            <h2>Results</h2>
            <ul class="olrcp-list">
            {{#each olrcps as |olrcp|}}
                <li>
                    {{> post-each-OL olrcp}}
                </li>
            {{/each}}
            </ul>
        <br>
        <br>
        </section>
    {{/if}}
</div>

<script src="/scripts/search.js"></script>
